<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Gotant INC</h5>
                <p class="grey-text text-lighten-4">Gotant Inc es una compañia que se desenvuelve en ámbitos del sector financiero ofreciendo alternativas para quienes requieran préstamos o inversiones.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Visitanos en Gmail</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Visitanos en Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Visitanos en Instagram</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Visitanos en Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Gotant Inc Copyright

            <!-- Acá podríamos implementar lo de los manuales -->
            <a class="grey-text text-lighten-4 right btn red darken-1" href="#!">¿Buscas ayuda específica?</a>
        </div>
    </div>
</footer>