
    <h3 class="text-white">Olvidé mi contraseña</h3>

    <!-- Campos -->

    <div class="row blue-grey darken-3 rounded">
        <div class="col s12">
            <div class="row text-white">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-input" class="autocomplete text-white">
                    <label for="autocomplete-input">Usuario</label>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row text-white">
                <div class="input-field col s12">
                    <i class="material-icons prefix">short_text</i>
                    <input type="text" id="autocomplete-input" class="autocomplete text-white">
                    <label for="autocomplete-input">Contraseña</label>
                </div>
            </div>
        </div>
    </div>