<h3 class="text-white">Olvidé mi contraseña</h3>
x
<div class="row blue-grey darken-4">
    <nav>
        <div class="nav-wrapper blue-grey darken-2">
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a (click)="onCargarMessage()">Notificarme desde mi Teléfono</a></li>
                <li><a (click)="onCargarEmail()">Notificarme desde mi Email</a></li>
            </ul>
        </div>
    </nav>

    <div class="container blue-grey darken-4">
        <div class="centered">
            <img class="materialboxed" width="100" src="../../../../assets/logos/Logo-r.png">
        </div>

        <!--
             <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
            <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
            <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
        </ul>
        <div id="test-swipe-1" class="col s12 blue">Test 1</div>
        <div id="test-swipe-2" class="col s12 red">Test 2</div>
        <div id="test-swipe-3" class="col s12 green">Test 3</div> 
    -->


        <form *ngIf="verMensaje" [formGroup]="grupoForm" class="section-container center blue-grey darken-3">
            <div class="row text-white">

                <!-- Desplegable Trigger -->
                <a class='dropdown-trigger btn white text-black' data-target='dropdown1'>Drop Me!</a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content' min="0">
                    <li><a href="#!">one</a></li>
                    <li><a href="#!">two</a></li>
                </ul>

                <!-- Input de número -->

                <div class="input-field col s12">


                    <i class="material-icons prefix">phone</i>
                    <!-- Se declara la variable asociada el input -->
                    <input formControlName='cellphone' type="number" id="user" class="autocomplete text-white validate"
                        required>
                    <label for="user" class="active">Teléfono</label>
                </div>

            </div>

            <!-- Botón para redirección para notificación email -->

            <button class="btn red darken-1" routerLink="./waiting-page" type="submit">Enviar</button>
        </form>

        <!--! SEPARADOR !-->

        <form *ngIf="verEmail" [formGroup]="grupoForm" class="section-container center blue-grey darken-3">
            <div class="row text-white">

                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <!-- Se declara la variable asociada el input -->
                    <input formControlName='username' type="text" id="user" class="autocomplete text-white validate"
                        required>
                    <label for="user" class="active">Usuario</label>
                </div>

            </div>

            <!-- Botón para redirección para notificación movil -->

            <button class="btn red darken-1" routerLink="./waiting-page" type="submit">Enviar</button>
        </form>

    </div>

</div>