<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *   -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * *   -->
<!-- * * * * * * * * * * is not a placeholder * * * * * * * * * *    -->
<!-- * * * * * * * * * * and can't be replaced. * * * * * * * * * *  -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *   -->
<!-- * * * * * * * * * Keep the template below * * * * * * * * * *   -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *   -->

<app-header></app-header>

<body class=" blue-grey darken-3">
    <main>
        <div class="container">
            <router-outlet>
            </router-outlet>
        </div>
    </main>
</body>

<app-footer></app-footer>