<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *   -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * *   -->
<!-- * * * * * * * * * * is not a placeholder * * * * * * * * * *    -->
<!-- * * * * * * * * * * and can't be replaced. * * * * * * * * * *  -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *   -->
<!-- * * * * * * * * * Keep the template below * * * * * * * * * *   -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *   -->

<app-header></app-header>
<div class="container">
    <router-outlet>

    </router-outlet>
</div>

<app-footer></app-footer>