<nav>
    <div class="nav-wrapper blue-grey darken-4">
        <!-- [05]: Cambio de ruta predilecta para el inicio del sitio web -->


        <a routerLink="/home" class="brand-logo">
            <img width="40" src="../../../../assets/logos/Logo-w.png">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/login">Login</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/login">Login</a></li>
</ul>