/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    justify-content: baseline;
    min-height: 88vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}

.bg-color {
    background-color: #37474f;
}

.text-white {
    color: #ffffff;
}

.text-red {
    color: #d00000;
}

.text-black {
    color: #000000;
}

.

.rounded {
    border-radius: 2rem;
}

.oposite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
}

.p-2 {
    padding: 2rem;
}