
<div class="container">

    <h3 class="text-white">Login</h3>

    <!-- Campos -->

    <div class="row blue-grey darken-3 rounded">
        <div class="col s12">
            <div class="row text-white">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="autocomplete-input" class="autocomplete text-white">
                    <label for="autocomplete-input">Usuario</label>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row text-white">
                <div class="input-field col s12">
                    <i class="material-icons prefix">short_text</i>
                    <input type="text" id="autocomplete-input" class="autocomplete text-white">
                    <label for="autocomplete-input">Contraseña</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Botones -->

    <div class="oposite">

        <a routerLink="/login/reset-password" class="waves-effect waves-light btn">
            <i class="material-icons left">last_page</i>
            Olvide mi contraseña
        </a>

        <a routerLink="/login/access" class="waves-effect waves-light btn">
            <i class="material-icons left">next_week</i>
            Ingresar
        </a>

    </div>


</div>